body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    color: #333;
}

main {
    padding: 20px;
}

section.exercise {
    margin-bottom: 20px;
}

h2 {
    color: #555;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

p {
    color: #777;
}

footer {
    background-color: #f0f0f0;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
